body {
    margin: 0;
    padding:0;
    background-color: lightblue;
}

.container {
   background-color: #9acd32;
   height: 70px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80%;
    margin: auto;
}